
div.clock
{
	font-size: 2em;
	margin: 25px 0px;
}

#home
{
	position: fixed;
	bottom: 20px;
	left: 10px;
}

.apps-container
{
	font-size: 1.2em;
}

.apps-container a
{
	width: calc( 20vw - 0px ) ;
	height: auto;
	min-width: 200px;
	max-width: 400px;
	margin: 10px;
}

.apps-container a img
{
	width: 120px;
	height: 120px;
	margin: 10px 0px;
}
