
body
{
	background-color: black;
	color: #999;
	text-align: center;
	font-size: 20px;
	font-weight: 800;
}

a
{
	text-decoration: none;
	color: white;
}


.apps-container
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	
}

.apps-container a
{
	display: block;
	border: 1px solid blue;
	border-radius: 20px;
	
}
