
.apps-container
{
	font-size: 1em;
}

.apps-container a
{
	width: calc( 25vw - 10px);
	max-width: 110px;
	height: auto;
	min-height: 110px;
	margin: 5px;
}

.apps-container a img
{
	width: 75px;
	height: 75px;
	margin: 5px 0px;
}

div.section
{
	font-size: 1.5em;
}
