
header
{
	position: fixed;
	top: 10px;
	left: 0px;
	text-align: center;
	font-size:;
	
}

.apps-container
{
	font-size: 1em;
}

.apps-container a
{
	width: calc( 23vw - 10px);
	max-width: 60px;
	height: auto;
	max-height: ;
	margin: 5px;
}

.apps-container a img
{
	width: 55px;
	height: 55px;
	margin: 5px 0px;
}

div.section
{
	font-size: 1.5em;
}
