
div.clock
{
	font-size: 2.5em;
	margin: 25px 0px;
}

#home
{
	position: fixed;
	bottom: 50px;
	left: 0px;
}

.apps-container
{
	font-size: 1.2em;
}

.apps-container a
{
	width: 165px;
	height: auto;
	min-height: 160px;
	margin: 10px;
}

.apps-container a img
{
	width: 120px;
	height: 120px;
	margin: 10px 0px;
}
