
div.clock
{
	font-size: 2.5em;
	margin: 25px 0px;
}

#phone-model
{
	color: white;
	font-size: 1.75em;
	font-weight: 900;
    text-shadow: 
        0 0 20px #bbb,
        0 0 20px #bbb,
        0 0 20px #bbb,
        0 0 20px #bbb;
}

#phone-company
{
	font-size: 0.7em;
	font-weight: 200;
	font-style: italic;
}

.apps-container
{
	font-size: 1.5em;
}

#home
{
	position: fixed;
	bottom: 20px;
	left: 10px;
	width: calc(100vw - 20px );
	border: 0px solid blue;
}

#home a
{
	border: 0px solid blue;
	min-height: 150px;
}

.apps-container a
{
	width: 32% ;
	max-width: ;
	height: auto;
	min-height: 100px;
	margin: 0px;
}

.apps-container a img
{
	width: auto ;
	min-width: 100px;
	max-width: ;
	height: auto;
	min-height: 100px;
	max-height: 120px;
	margin: 10px 0px;
}
