
div.clock
{
	font-size: 2.5em;
	margin: 25px 0px;
}

#phone-model
{
	color: white;
	font-size: 1.75em;
	font-weight: 900;
    text-shadow: 
        0 0 20px #bbb,
        0 0 20px #bbb,
        0 0 20px #bbb,
        0 0 20px #bbb;
}

#phone-company
{
	font-size: 0.7em;
	font-weight: 200;
	font-style: italic;
}

.home
{
	position: fixed;
	bottom: 20px;
	left: 10px;
	font-size: 1.5em;
	width: calc( 100vw - 10px );
	border: 0px solid blue;
}

.home a
{
	border: 0px solid blue;
	width: 33% ;
	max-width: ;
	height: auto;
	max-height: 100px;
	margin: 0px;
}

.home a img
{
	width: auto ;
	min-width: ;
	max-width: 80px;
	height: auto;
	min-height: ;
	max-height: 80px;
	margin: 10px 0px;
}
